<!-- ABOUT -->
<section id="about" class="about-wrapper">

    <div class="row">

        <div class="medium-12 columns">

            <h3>About Me</h3>

            <div class="line"></div>
            <div class="clearfix"></div>

        </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

    <div class="col-progress">

        <div class="row">

            <div class="medium-4 columns">

                <h6>HTML5</h6>
                <div class="progress success round">
                    <span class="meter" style="width: 90%"></span>
                </div><!-- /.progress -->

                <h6>CSS3</h6>
                <div class="progress success round">
                    <span class="meter" style="width: 90%"></span>
                </div><!-- /.progress -->

                <h6>Javascript</h6>
                <div class="progress round">
                    <span class="meter" style="width: 80%"></span>
                </div><!-- /.progress -->

            </div><!-- /.medium-4 .columns -->

            <div class="medium-4 columns text-center">

                <!--<div class="col-desc" ng-bind-html="$content.get('about')">-->
                <!--</div>&lt;!&ndash; ./col-desc &ndash;&gt;-->

            </div><!-- /.medium-4 .columns -->

            <div class="medium-4 columns">

                <h6>Jquery</h6>
                <div class="progress medium-12 round">
                    <span class="meter" style="width: 80%"></span>
                </div><!-- /.progress -->

                <h6>Photoshop</h6>
                <div class="progress medium-12 alert round">
                    <span class="meter" style="width: 70%"></span>
                </div><!-- /.progress -->

                <h6>PHP &amp; MySQL</h6>
                <div class="progress medium-12 alert round">
                    <span class="meter" style="width: 70%"></span>
                </div><!-- /.progress -->

            </div><!-- /.medium-4 .columns -->

        </div><!-- /.row -->

    </div><!-- /.col-progress -->

</section><!-- /.about-wrapper -->
<!-- ABOUT -->
