<!-- INTRO -->
<section class="intro">

    <div class="row">

        <div class="medium-12 columns">

            <h1>Designer &amp; Developer</h1>
            <p>Hello my name Raul Gonzalez, i'm design student from Spain. <br>I Design flat, simple, and clean interface for all device.</p>

            <p><a ng-click="gotoBookmark('contact')" class="button small alert radius">Drop Me A Line</a></p>

            <!-- Start: Slider -->
            <div class="csslider">

                <input type="radio" name="slides" id="slides_1" checked>
                <input type="radio" name="slides" id="slides_2">
                <ul>
                    <li><img src="scripts/portfolio/media/mac.png" alt=""></li>
                    <li><img src="scripts/portfolio/media/mac.png" alt=""></li>
                </ul>

                <!-- Buttons Control -->
                <div class="navigation">

                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                    </div>

                </div><!-- /.navigation -->

            </div><!-- /.csslider -->
            <!-- End: Slider -->

        </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

</section><!-- /.intro -->
<!-- INTRO -->