<!-- Start show Modal for Portfolio from here. You should create a modal for each of your projects. -->
<!-- Start: Modal Portfolio 1 -->
<div id="Modal-Portfolio-1" class="reveal-modal small" data-reveal>

    <img src="scripts/portfolio/media/portfolio/work-7.jpg" alt="">

    <h3>Example Title</h3>
    <p>Macaroon fruitcake marzipan dessert muffin halvah halvah. Cake candy canes apple pie pastry <a href="#">jelly-o caramels</a>. Tiramisu cake lollipop bonbon tart pie caramels biscuit.</p>

    <p class="text-center button-margin"><a href="#" class="button tiny alert radius">Visit Site</a></p>

    <!-- Close modal -->
    <a class="close-reveal-modal">&times;</a>

</div><!-- /.reveal-modal -->
<!-- End: Modal Portfolio 1 -->

<!-- Start: Modal Portfolio 2 -->

<!-- End: Modal Portfolio 2 -->