<!-- LATEST TWEETS -->
<section class="tweets-wrapper">

    <div class="row">

        <div class="medium-12 columns">

            <img src="scripts/portfolio/media/twitter-bird.png" alt="" class="pulse">

            <div id="tweets"></div>
            <script>
//                window.onload = function(){
//                    twitterFetcher.fetch(
//                            '252605694623223809',			// replace to your id twitter app
//                            'tweets',						// div id
//                            1,								// num tweets
//                            true,							// set true if you want urls and hash
//                            false,							// Set false if you dont want user photo
//                            false,							// Set false if you dont want time of tweet to show.
//                            d,								// Format tweet date
//                            false,							// Show retweets or not.
//                            d,								// function to call when data is ready.
//                            false							// Show links for reply, retweet, favourite.
//                    );
//                    var d = function(){return null};	// nothing function
//                }
            </script>
            <!--<script src="js/tweets.js"></script>-->

            <div class="clearfix"></div>
            <p><a href="#" class="button tiny radius">Follow @raul_gonzalez</a></p>

        </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

</section><!-- /.tweets-wrapper -->
<!-- LATEST TWEETS -->
