/* #Custom CSS Foundation 5.0.2
================================================== */



/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway-Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
p {
  font-size: 0.875rem;
}



/* BUTTONS */
button,
.button {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  box-shadow: 0 4px #0075a3;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
  box-shadow: 0 4px #00628a;
  outline: none;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
button.alert,
.button.alert {
  box-shadow: 0 4px #d92a0d;
}
button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  box-shadow: 0 4px #d31800;
}
button.secondary,
.button.secondary {
  box-shadow: 0 4px #c3c3c3;
}
button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
  box-shadow: 0 4px #bbb;
}
button.success,
.button.success {
  box-shadow: 0 4px #2c9553;
}
button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus {
  box-shadow: 0 4px #258348;
}


/* TOP BAR */
.top-bar {
  background-color: transparent;
}
.top-bar .name h1 {
  font-family: "Satisfy-Regular", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1.625rem;
  margin-top: 0.625rem;
}
.top-bar .name h1 a {
  color: #979797;
}
.top-bar .name h1 a:hover {
  text-decoration: none;
}
.top-bar .toggle-topbar.menu-icon a {
  color: #979797;
}
.top-bar .toggle-topbar.menu-icon a span {
  -webkit-box-shadow: 0 10px 0 1px #979797, 0 16px 0 1px #979797, 0 22px 0 1px #979797;
  box-shadow: 0 10px 0 1px #979797, 0 16px 0 1px #979797, 0 22px 0 1px #979797;
}
nav.top-bar .top-bar-section ul li,
nav.top-bar .top-bar-section li a:not(.button) {
  background-color: transparent;
}
nav.top-bar .top-bar-section li a:not(.button) {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #979797;
  text-transform: uppercase;
  padding: 0.625rem 0.9375rem;
}
nav.top-bar .top-bar-section ul li.active > a,
nav.top-bar .top-bar-section ul li.active > a:hover,
nav.top-bar .top-bar-section li a:not(.button):hover {
  background-color: #f5f5f5;
  color: #444;
  text-decoration: none;
}
.top-bar.expanded .title-area {
  background-color: transparent;
  border-bottom: 1px solid #e8e8e8;
}



/* INPUT */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  height: 2.875rem;
  font-style: italic;
  border-width: 2px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
textarea {
  height: 8.375rem;
}



/* REVEAL MODAL */
.reveal-modal {
  background-color: #f4f4f4;
  border-color: #e2e2e2;
  border-radius: 6px;
}
.reveal-modal img {
  display: block;
  width: 70%;
  height: auto;
  background-color: #e2e2e2;
  border-radius: 4px;
  margin: 0 auto 1.563rem;
  padding: 4px;
}
.reveal-modal p.button-margin,
.reveal-modal p.button-margin .button {
  margin: 0;
}
.reveal-modal .close-reveal-modal {
  text-decoration: none;
}

